main .container {
    background-color: #202020;
    /* width: 100%; */
}

main .container .img-cont {
    /* width: 100%; */
    margin: 1em auto;
    display: inline-block;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
main .container .img-cont p {
    color: #fff;
    position: absolute;
    font-size: 2em;
    z-index: 1;
}

main .container .img-cont img {
    width: 100%;
    z-index: 2;
}
main .container .img-cont img:hover{
    opacity: 0.3;
}

main .container .img-cont button {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255,1);
    color: rgb(255, 255, 255, 1);
    /* display: none; */
    /* position: absolute; */
    margin: 1em;
}

