<div class=" container about">
    <div class="col">
        <h2>About us</h2>
        <hr>
        <p><strong>Dex.ings </strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quisquam doloribus aut at quod excepturi nobis dolorum, quaerat deserunt sed, vel vitae eveniet. Necessitatibus repellendus totam deserunt amet beatae
            suscipit.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reprehenderit a, laborum cumque libero error, nesciunt nihil harum, repudiandae veniam consequuntur modi in? Repellat error nobis ab eius, odio facilis?</p>
    </div>
    <div class="col">
        <img src="../../../assets/walls/about1.PNG" alt="Collage dexings" class="imagen
        ">
    </div>
</div>