.container,
.card {
    background-color: #202020;
    
}

.card {
    width: 100%;
    padding: 20PX;
    color: #fff;
    font-family: "Angel wish", Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-align: justify;
}
.contenido {
    padding: 0px 20px;
}
.card h5 {
    font-size: 2em;
    text-align: center;
}

.card img {
    width: 100%;
    /* padding: 10px; */
    border: 1px solid #fff;
    border-radius: 10px;
}

.card .redes-sociales {
    text-align: center;
    /* display: flex; */
    
}
.card .redes-sociales a {
    color: #fff;
    font-size: 2.5em;
    display: inline-block;
    cursor: pointer;
    margin: 0px 2em;
}