<!-- <div class=" container about">
    <div class="col">
        <h2>About us</h2>
        <hr>
        <p><strong>Dex.ings </strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quisquam doloribus aut at quod excepturi nobis dolorum, quaerat deserunt sed, vel vitae eveniet. Necessitatibus repellendus totam deserunt amet beatae
            suscipit.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reprehenderit a, laborum cumque libero error, nesciunt nihil harum, repudiandae veniam consequuntur modi in? Repellat error nobis ab eius, odio facilis?</p>
    </div>
    <div class="col">
        <img src="../../../assets/walls/about1.PNG" alt="Collage dexings" class="imagen
        ">
    </div>
</div> -->
<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-lg-6 contenido">
                <div class="card-body">
                    <h5 class="card-title">Quienes somos</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet sagittis, sit est nunc enim
                        dis. Nisl magna cursus vestibulum sit dictum tortor. Fames volutpat, in enim dui purus nunc.
                        Metus velit gravida pretium proin ultricies praesent. Vulputate quam tortor, mauris ac. Sed
                        nisl, amet id adipiscing tincidunt vel amet. Semper nullam lectus pellentesque non mus dignissim
                        nunc.
                        <br>
                        Nec quisque ut est venenatis elementum nunc massa, non. Velit vitae tellus arcu neque nisi. Nec
                        lacus adipiscing elementum vel arcu mattis. Nisi, tempor lorem lacus aenean. Risus velit sed
                        tortor tellus et sed tristique viverra. Nam non tempus lectus vivamus
                        curabitur lobortis venenatis.
                    </p>
                </div>
            </div>
            <div class="col-lg-6  contenido">
                <img src="/assets/walls/about1.PNG" alt="Galeria de la empresa">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="titulo">
            <h5>Redes Sociales</h5>
        </div>
        <div class="redes-sociales">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</div>