<footer class="footer bg-ligth  text-center">
  <div class="conteiner">
    <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-lg-6  contenido">
          <h5 class="card-title">Redes Sociales</h5>
          <div class="redes-sociales">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
          </div>
        </div>
        <div class="col-lg-6 contenido">
          <ul>
            <li>
              <h5>Información</h5>
            </li>
            <li>Preguntas frecuentes</li>
            <li>Formas de pago</li>
            <li>Politicas de devolución</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copy">
      <hr>
      <p class="text-white">
        &copy; {{anio}} Dex.Ings
      </p>
    </div>
  </div>
</footer>
