<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../../assets/walls/HOME.png" class="d-block w-10 center" >
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/merch/P01.png" class="d-block w-10 center" >
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/merch/P02.png" class="d-block w-10 center" >
    </div>
    <div class="carousel-item">
      <img src="../../../assets/merch/P03.png" class="d-block w-10 center">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container">
  <img src="../../../assets/walls/d.i.icon.png" class="center">
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
      <div class="card h-100">
         <img src="https://instagram.fmex2-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/138379929_247591963405873_6304360869171735708_n.jpg?_nc_ht=instagram.fmex2-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=xTnRBvf_SUsAX_7B65V&tp=1&oh=73f40f6c0aaa4ecf550ad45e5568b9c9&oe=605F980C"class="card-img-top">
  
      </div>
  </div>

  <div class="col">
      <div class="card h-100">
         <img src="https://instagram.fmex11-2.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/146706769_117915263560194_4262670131195185635_n.jpg?_nc_ht=instagram.fmex11-2.fna.fbcdn.net&_nc_cat=106&_nc_ohc=i9BHLnOX4jQAX_LbQIl&tp=1&oh=b759f2f0fc41b94e18af8bfb522161cb&oe=605F7B4B"class="card-img-top">
  
      </div>
  </div>

  <div class="col">
      <div class="card-h100">
          <img src="https://instagram.fmex11-2.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/133557874_396806508240171_9028873200195827299_n.jpg?_nc_ht=instagram.fmex11-2.fna.fbcdn.net&_nc_cat=103&_nc_ohc=W4CPcCOmUa8AX8ytHGA&tp=1&oh=740b0b1e028e7afa109f7b5284a8283f&oe=606064DF" class="card-img-top">
      </div>
  </div>

  <div class="col">
      <div class="card-h100">
          <img src="https://instagram.fmex11-4.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/134387669_2850939661848368_2929979324269921615_n.jpg?_nc_ht=instagram.fmex11-4.fna.fbcdn.net&_nc_cat=108&_nc_ohc=GVPF3T_5dIoAX-m9Ka5&tp=1&oh=7ff9cf20622793c01414298190c719e6&oe=605E26DB" class="card-img-top">
      </div>
  </div>

  <div class="col">
      <div class="card-h100">
          <img src="https://instagram.fmex11-2.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/121108317_376591673387866_7687072723383955074_n.jpg?_nc_ht=instagram.fmex11-2.fna.fbcdn.net&_nc_cat=110&_nc_ohc=KC91wCpk08sAX_Lk_xw&tp=1&oh=708604a427606cc22c991ff6b0e409a1&oe=60609EB9" class="card-img-top">
      </div>
  </div>

  <div class="col">
      <div class="card-h100">
          <img src="https://instagram.fmex11-4.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/107212021_303462110841301_8894828239636716522_n.jpg?_nc_ht=instagram.fmex11-4.fna.fbcdn.net&_nc_cat=101&_nc_ohc=fwohOJrajs0AX-tQkiV&tp=1&oh=18a3b7ea6e04c3e7e0e667d25130d1be&oe=60613001" class="card-img-top">
      </div>
  </div>

</div>
